name: Greeting Workflow
on: [push]

jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run a greeting
        run: echo "The CI pipeline has successfully started!"

      - name: Run Python Tests
        run: pip install pytest && pytest test_calc.py -v
